:host {
    background-color: var(--tertiary-color);
    padding: 15px;
    gap: 10px;
    border-radius: 12px;
    display: block;
}

.title-section {
    display: block;
}

.title {
    font-weight: 900;
    font-style: italic;
    color: var(--primary-txt-color);
    font-size: 22px;
    line-height: 25.78px;
    text-transform: capitalize;
}

.card-body {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.tag {
    background-color: var(--quartenary-bg-color);
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    padding: 2.5px 15px;
    border-radius: 12px;
    color: var(--primary-txt-color);
    margin-top: 5px;
}