.container {
    background-color: var(--tertiary-color);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px 25px;
    margin-top: 75px;
    min-height: 75vh;
}

.title {
    color: var(--secundary-txt-color);
    position: relative;
    top: -55px;
    text-align: end;
}

.imagem-pokemon {
    height: 200px;
    position: relative;
    top: -125px;
    left: -40px;
    margin-bottom: -120px;
}

.subtitulo {
    color: var(--tertiary-txt-color);
    text-decoration: underline;
}

.statics {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21.09px;
    font-family: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line {
    display: flex;
    justify-content: space-between;
    color: var(--primary-txt-color);
}

.value {
    font-weight: 700;
}