:host {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff6e;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 15px;
}

input {
    background-color: transparent;
    border: none;
    color: var(--secundary-txt-color);
    width: 90%;
}

input:focus {
    outline: none;
}