@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #262835;
    --secundary-color: #FF5473;
    --tertiary-color: #FFFFFF;

    --primary-bg-color: var(--primary-color);
    --secundary-bg-color: var(--secundary-color);
    --tertiary-bg-color: var(--tertiary-color);
    --quartenary-bg-color: #EFEFEF;

    --primary-txt-color: var(--primary-color);
    --secundary-txt-color: var(--tertiary-color);
    --tertiary-txt-color: var(--secundary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color);
    width: 45vw;
    margin: auto;
}

p, h1, h2, h3, a {
    margin: 0;
}

a {
    text-decoration: none;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.standard-title {
    font-size: 32px;
    line-height: 37.2px;
}